html,
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.courseName {
    background-color: mediumpurple;
    font-weight: bold;
    min-height: 3em;
    padding: 0.75em 0;
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
    top: 0;
}

.courseWrapper {
    background: black;
    /*grid-column-gap: 1em;*/
    color: paleturquoise;
    display: grid;
    grid-template-columns: 1.5fr 4fr;
}

.courseListings {
    border-right: 1px solid darkgray;
    height: 100vh;
    overflow: scroll;
}

.courseListings ul {
    list-style: none;
}

/*Padding for the topic names*/
.courseListings > ul {
    padding: 0.5em;
}

/*Padding for the file listings*/
.courseListings > ul + ul {
    padding: 0.75em;
}

.topicName {
    background: mediumpurple;
    height: 5em;
    margin-bottom: 1em;
    padding: 1.5em;
    position: sticky;
    text-align: center;
    top: 100px;
}

.fileName {
    background-color: paleturquoise;
    color: fuchsia;
    font-weight: bold;
    margin-bottom: 1em;
    min-height: 3em;
    padding: 0.75em 0;
    text-align: center;
}

.videoFile {
    border-bottom: 1px solid gray;
    padding: 1em 0.5em;
    width: 100%;
}

.videoFile:hover {
    background-color: mediumpurple;
    font-weight: bold;
}

.playing {
    background-color: paleturquoise;
    border: 1px dashed fuchsia;
    color: fuchsia;
    font-weight: bolder;
}

.videoPlayer {
    text-align: center;
}

.player {
    margin: 1em;
}

.firstItem {
    margin-top: 1em;
}

.backButton {
    margin-bottom: 1em;
    margin-left: 1em;
    text-align: left;
}

.courseTitle {
    margin: 0 1em;
    text-align: center;
}